kind: Deployment
apiVersion: apps/v1
metadata:
  name: reactcalc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reactcalc
  template:
    metadata:
      labels:
        app: reactcalc
    spec:
      containers:
        - name: reactcalc
          image: sujithkumar597/calc:13
          imagePullPolicy: Always
          ports:
            - containerPort: 80
      restartPolicy: Always
---
kind: Service
apiVersion: v1
metadata:
  name: reactcalc
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      nodePort: 31114
  selector:
    app: reactcalc